body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./images/farlight.jpg') center center/cover no-repeat fixed;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgba(240, 240, 240, 0.8); /* Add a semi-transparent background color */
}

.login-form-container {
  background-color: #3498db; /* Change background color */
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Add a stronger box shadow */
  padding: 40px;
  width: 400px;
  text-align: center;
  position: relative; /* Add position relative for lighting effect */
}

/* Add lighting effect */
.login-form-container::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background: linear-gradient(45deg, #fff, #627248); /* Adjust gradient colors */
  border-radius: 12px;
  z-index: -1;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-top: 10px;
  text-align: left;
  color: #fff; /* Text color */
}

input {
  margin-bottom: 10px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

button,
.facebook-button,
.google-button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button {
  background-color: #2ecc71; /* Change button color */
  color: #ffffff;
  padding: 14px;
  font-size: 18px;
}

button:hover {
  background-color: #27ae60; /* Change button hover color */
}

.facebook-button,
.google-button {
  padding: 14px;
  font-size: 16px;
  margin-top: 10px;
}

.google-button {
  background-color: #e74c3c; /* Change Google button color */
}

.facebook-button:hover,
.google-button:hover {
  opacity: 0.9;
}

.icon {
  margin-right: 8px;
}

p {
  margin-top: 10px;
  text-align: center;
  color: #fff; /* Text color */
}
